<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>meetingSystem</display-name>
  <welcome-file-list>
  
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wllman.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>com.wllman.dao.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.wllman.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderingServlet</display-name>
    <servlet-name>MyOrderingServlet</servlet-name>
    <servlet-class>com.wllman.servlet.MyOrderingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderingServlet</servlet-name>
    <url-pattern>/MyOrderingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingRoomServlet</display-name>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <servlet-class>com.wllman.servlet.MeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingRoomServlet</servlet-name>
    <url-pattern>/MeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyMeetingServlet</display-name>
    <servlet-name>MyMeetingServlet</servlet-name>
    <servlet-class>com.wllman.servlet.MyMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMeetingServlet</servlet-name>
    <url-pattern>/MyMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>com.wllman.servlet.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.wllman.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.wllman.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalEmployeeServlet</display-name>
    <servlet-name>ApprovalEmployeeServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ApprovalEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalEmployeeServlet</servlet-name>
    <url-pattern>/ApprovalEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMeetingRoomSerlvet</display-name>
    <servlet-name>AddMeetingRoomSerlvet</servlet-name>
    <servlet-class>com.wllman.servlet.AddMeetingRoomSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomSerlvet</servlet-name>
    <url-pattern>/AddMeetingRoomSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartmentServlet</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>com.wllman.servlet.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDepartmentServlet</display-name>
    <servlet-name>ShowDepartmentServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ShowDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDepartmentServlet</servlet-name>
    <url-pattern>/ShowDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.wllman.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableRoom</display-name>
    <servlet-name>AvailableRoom</servlet-name>
    <servlet-class>com.wllman.servlet.AvailableRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableRoom</servlet-name>
    <url-pattern>/AvailableRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableRoomServlet</display-name>
    <servlet-name>AvailableRoomServlet</servlet-name>
    <servlet-class>com.wllman.servlet.AvailableRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableRoomServlet</servlet-name>
    <url-pattern>/AvailableRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JumpToOrderServlet</display-name>
    <servlet-name>JumpToOrderServlet</servlet-name>
    <servlet-class>com.wllman.servlet.JumpToOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JumpToOrderServlet</servlet-name>
    <url-pattern>/JumpToOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.wllman.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderMeetingServlet</display-name>
    <servlet-name>OrderMeetingServlet</servlet-name>
    <servlet-class>com.wllman.servlet.OrderMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderMeetingServlet</servlet-name>
    <url-pattern>/OrderMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyMeetingdetail</display-name>
    <servlet-name>ShowMyMeetingdetail</servlet-name>
    <servlet-class>com.wllman.servlet.ShowMyMeetingdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyMeetingdetail</servlet-name>
    <url-pattern>/ShowMyMeetingdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRoomDetail</display-name>
    <servlet-name>ShowRoomDetail</servlet-name>
    <servlet-class>com.wllman.servlet.ShowRoomDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoomDetail</servlet-name>
    <url-pattern>/ShowRoomDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyMeetingDetail</display-name>
    <servlet-name>ShowMyMeetingDetail</servlet-name>
    <servlet-class>com.wllman.servlet.ShowMyMeetingDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyMeetingDetail</servlet-name>
    <url-pattern>/ShowMyMeetingDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelMeetingServlet</display-name>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <servlet-class>com.wllman.servlet.CancelMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <url-pattern>/CancelMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDepartmentServlet</display-name>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <servlet-class>com.wllman.servlet.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <url-pattern>/DeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncomeTaxServlet</display-name>
    <servlet-name>IncomeTaxServlet</servlet-name>
    <servlet-class>com.wllman.servlet.IncomeTaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeTaxServlet</servlet-name>
    <url-pattern>/IncomeTaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowVoteServlet</display-name>
    <servlet-name>ShowVoteServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ShowVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowVoteServlet</servlet-name>
    <url-pattern>/ShowVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoteServlet</display-name>
    <servlet-name>AddVoteServlet</servlet-name>
    <servlet-class>com.wllman.servlet.AddVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoteServlet</servlet-name>
    <url-pattern>/AddVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowChoiceServlet</display-name>
    <servlet-name>ShowChoiceServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ShowChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowChoiceServlet</servlet-name>
    <url-pattern>/ShowChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteServlet</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.wllman.servlet.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.wllman.servlet.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSigninServlet</display-name>
    <servlet-name>ShowSigninServlet</servlet-name>
    <servlet-class>com.wllman.servlet.ShowSigninServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>handlerDate</servlet-name>
    <servlet-class>com.wllman.servlet.handlerDate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteRoom</servlet-name>
    <servlet-class>com.wllman.servlet.deleteRoom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>modifyRoom</servlet-name>
    <servlet-class>com.wllman.servlet.modifyRoom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRoom</servlet-name>
    <servlet-class>com.wllman.servlet.AddRoom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>T</servlet-name>
    <servlet-class>com.wllman.servlet.T</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteMessage</servlet-name>
    <servlet-class>com.wllman.servlet.deleteMessage</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ShowSigninServlet</servlet-name>
    <url-pattern>/ShowSigninServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handlerDate</servlet-name>
    <url-pattern>/handlerDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteRoom</servlet-name>
    <url-pattern>/deleteRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyRoom</servlet-name>
    <url-pattern>/modifyRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRoom</servlet-name>
    <url-pattern>/AddRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>T</servlet-name>
    <url-pattern>/servlet/T</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteMessage</servlet-name>
    <url-pattern>/deleteMessage</url-pattern>
  </servlet-mapping>
  <error-page>
        <error-code>404</error-code>
        <location>/404.html</location><!--填写你自定义页面的路径-->
    </error-page>
 
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location><!--填写你自定义页面的路径-->
    </error-page>
</web-app>